html, body{
    margin: 0px;
    padding: 0px
}
body{
    background-color: rgb(231, 236, 237);
}

.navbar{
   display: flex;
   width: 100%;
   margin: 0px;
   padding: 0px;
   flex-direction: row;
   background-color: rgb(255, 255, 255);
   justify-content: space-around;

}

.left-nav{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
  
}

.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    /* background-color: blue; */
}

.nav-icon{
   
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
}

.nav-searchbar{
    display: flex;
    align-items: center;
    /* background-color: gray; */
    width: 300px;
    margin: 0px;
}

#search{
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    border: 0px;
    height: 30px;
}

.nav-icon-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
    /* background-color: yellow; */
}

.nav-icon-right > p{
    /* background-color: green; */
    margin: 0px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.main-body{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    height: 100%;
    background-color: rgb(231, 236, 237);
}


.left-container{
    /* background-color: blue; */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    

}



.left-item{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px;
    
}


.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(115, 115, 115);
    border-bottom: 1px solid;
}

.connection-section{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0px;
    padding-inline: 3px;
    border-bottom: 1px solid;
    border-color: rgb(115, 115, 115);
    
}




.connection-section > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.hd{
    padding: 0px;
    margin-bottom: 0px;
    color: rgb(115, 115, 115);
}

.hd > span{
    color: black;
}

.cd{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.kv{
    color: rgb(77, 148, 255);
}




.profile-section > img{
    width: 50px;
    height: 50px;
    border: 10px;
    border-color: black;
}

.main-name{
    color: black;
    margin: 2px;
}

.pohto-add{
    color: rgb(77, 148, 255);
    margin: 2px;
}

.access-section{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-color: rgb(115, 115, 115);
}

.access-section > a >p{
    padding: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgb(115, 115, 115);
}

.access-section > a > span{
    color: rgb(115, 115, 115);
    
}

.access-section > a{
    margin-bottom: 4px;
}

.my-items{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: flex-start;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.my-items > img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    color: rgb(115, 115, 115);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.it2 > p{
    color: rgb(77, 148, 255);
}

.event{
    display: flex;
    justify-content: space-between;
    padding-inline-end: 3px;
    color: rgb(77, 148, 255);
}

.hash{
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-color: rgb(115, 115, 115);
}

.more-tag{
    color: rgb(17, 17, 17);
}



.post-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 30px;
    /* background-color: yellow; */
    border-radius: 5px;
}







.create-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

.create-post-primary-section{

    margin-top: 30px;
   
    display: flex;
    justify-content: center;
    align-items: center;


}
/* 
.profile{
    padding: 0%;
    margin: 0px;

} */

.profile{
    display: flex; 
    flex-direction: row;
    width: 50px;
    height: 50px;
}

.post-search{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 2px;
    padding: 5px;
    border: 1px solid;
    border-color: rgb(115, 115, 115);
    width: 250px;
    height: 30px;
}

.create-post-secondary-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.profile{
    padding: 5px;
    margin:2px
}

/* .search{
    padding: 5px;
    margin: 2px;
    
} */



.create-post-icon{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 2px;
    align-items:center
}
.create-post-icon > img{
    width: 20px;
    height: 20px;
    margin: 5px;
}


.post-container-divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.post-container-divider > span{
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    width: 445px;
    overflow: hidden;
    height: 1px;
    background-color: black;
}

.post-container-divider > p{
    width: max-content
}


.post{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
}

.post-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-head > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}




.post-head> div > img{
    margin: 3px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
}

.post-head> div > .author-name{
    margin-inline: 5px;
    color: rgb(17, 17, 17);
    font-size: 1rem;
}

.post-head>div > p{
    color: rgb(115, 115, 115);
    font-size: 0.90rem;
}

.post-head-more{
    margin-inline:10px;
    padding-inline: 10px;
    color: rgb(115, 115, 115);
    width: 20px;
    height: 20px;
}

.post-divider{
    width: 500px;
    background-color: rgb(115, 115, 115);
    height: 1px;
}

.post-body{
    display: flex;
    flex-direction: column;

}

.author{
    display: flex;
    flex-direction: row;
    padding-inline: 10px;

}

.author-section-one{
  display: flex;
  align-items: center;  
}

.author-section-one > img{
    width: 50px;
    height: 50px;
    padding-inline: 5px;
}

.author-section-one>p>.additional-content{
    overflow: clip;
}

.img{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    object-position: center;
    object-fit: cover;
}

.react-container{
    display: flex;
    flex-direction: column;
}

.reacted-container{
    display: flex;
    border-bottom: 1px solid;
    border-color: rgb(115, 115, 115);
    justify-content: space-between;
    margin-inline: 5px;
    padding-inline-start: 2px;
    padding-inline-end: 5px;
}

.reacted-container > li{
    list-style: none;
}

.reacted-list{
    display: flex;

}

.reacted-button{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

.reacted-button > img{
    width: 15px;
    height: 15px;
}


.reactions{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-bottom: 10px;

}

.reaction-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reaction-button > img{
    width: 25px;
    height: 25px;
}



.right-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.news-container{
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    padding-right: 5px;
    margin-right: 20px;
}

.news-container > ul >li{
    padding-bottom: 5px;
}

.news-container > p{
    color: rgb(115, 115, 115);
}


.news-container >ul > li > span{
    color: rgb(115, 115, 115);
}


.about{
    margin-top: 20px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    
}

.about-item-container{
    width: 250px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-item{
    margin-inline: 7px;
    color: rgb(115, 115, 115);
}

.chat{
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    right: 0;
    /* padding-inline: 2px; */
    border-radius: 2px;
    margin-inline-end: 5px;
}

.chat > div{
    color: rgb(115, 115, 115);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-inline: 3px;


}

.chat > div > img{
    width: 20px;
    height: 20px;
    padding-inline-end: 5px;
    /* margin-inline-end: 5px; */
}

.end-icon{
    margin: 0px;
    padding: 0px;
}